

<div class="page home" style="margin-top: 10%;">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-6 text-center mt-2" style="display: contents;" >
                <h1 class="page-title">
                    Login Sayfası
                </h1>
            </div>
        </div>
        <div class="row mt-4" >
            <div class="col-md-12 text-center" >
            <!-- Yaptığımız card kodu başlangıcı -->
                <mat-card  class="d-flex" style="margin-bottom: 5%">
                    <!-- //style="left: 100%; margin-top: 15%;" -->
                    <!-- <form class="example-form" name="form" (ngSubmit)="onSubmit()"> -->
                        <form class="example-form" >
                        <mat-form-field class="example-full-width text-center mt-2">
                            <input matInput placeholder="ali@vakifbank.com" type="email"  class="inputText"> 
                            <!-- formControlName="username" -->
                            <mat-label style="color: black;">E-posta</mat-label>
                        </mat-form-field> 
                        <mat-form-field class="example-full-width text-center mt-2">
                            <input matInput placeholder="Şifre Giriniz"  type="password" class="inputText text-center mt-2">
                            <!-- formControlName="password" -->
                            <mat-label style="color: black;">Şifre</mat-label>
                        </mat-form-field>

                          <br>
                          <button class="GirisButon text-center mt-12" mat-raised-button color="primary" 
                          style=" width: 60%; margin-top: 2%; margin-bottom: 3%; height: 50px"
                         >Giriş</button>
                         <!-- type="submit" -->
                          <!-- (click)="talepEkle(yeniTalep)" -->
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-2">
                <small>Kerim Şenol -  2020 ® </small>
                <!-- <h5>®</h5> -->
            </div>
        </div>
    </div>
</div>


