<!-- Angular 10 denendi -->

<a routerLink="/" style="margin-bottom: 2%;" >Ana Menü</a>

<div class="card card-container" style="padding: 5%; border-radius: 20%; background-color: ghostwhite;">
<!-- ÇALIŞAN KOD -->
<form (submit)="loginUser($event)" style=" text-align: center; margin-top: 3%; -webkit-text-stroke: thin;  ">
  <input type="text" placeholder="Username" id="username" style="margin-bottom: 15%;">
  <br>
  <input type="text" placeholder="Password" id="password" style="margin-bottom: 15%;">
  <br>
  <input type="submit" value="Giriş" style="    padding-left: 20px; padding-right: 20px;" >
</form>
</div>

<!-- 
<div class="col-md-12" style="line-height : 2.5em;" >
  <div class="card card-container">

    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate 
    style=" text-align: center; margin-top: 3%; -webkit-text-stroke: thin;">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email"  required  email >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required minlength="6" #newP/>
      </div>
      <div class="form-group" style="text-align-last: center;">
        <button class="btn btn-primary btn-block" type="submit" >Sign Up</button>
      </div>
    </form>

  </div>
</div> -->
















<!-- <div class="col-md-12" style="line-height : 2.5em; " >
    <div class="card card-container">

      <form  name="form" style=" text-align: center; margin-top: 3%; -webkit-text-stroke: thin;">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control"   #newE />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" required minlength="6" #newP/>
        </div>
        <div class="form-group" style="text-align-last: center;">
          <button class="btn btn-primary btn-block" type="submit" >Sign Up</button>
        </div>
      </form>

    </div>
  </div> -->




